<?xml version="1.0" encoding="UTF-8"?>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<!DOCTYPE hibernate-configuration PUBLIC
    "-//Hibernate/Hibernate Configuration DTD//EN"
    "http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">
    
    <hibernate-configuration>
        <session-factory>
            
        <property name="dialect">org.hibernate.dialect.MySQLDialect</property>
        <!-- Database connection settings -->
        <property name="connection.driver_class">com.mysql.jdbc.Driver</property>
        <property name="connection.url">jdbc:mysql://localhost:3306/db1</property>
        <property name="connection.username">root</property>
        <property name="connection.password">ronak</property>
        <property name="hibernate.enable_lazy_load_no_trans">true</property>
        <property name="hibernate.show_sql">true</property>
        
        <!-- create table if not -->
        <property name="hbm2ddl.auto">update</property>
       
        <mapping class="com.mycompany.loginmodule.Login"/>
         <mapping class="com.mycompany.loginmodule.Addpackage"/>
          <mapping class="com.mycompany.loginmodule.Addgym"/>
           <mapping class="com.mycompany.loginmodule.Addbranch"/>
            <mapping class="com.mycompany.loginmodule.Logingym"/>
            <mapping class="com.mycompany.loginmodule.Gallery"/>
            <mapping class="com.mycompany.loginmodule.Gyminfo"/>
            <mapping class="com.mycompany.loginmodule.Achievements"/>
            <mapping class="com.mycompany.loginmodule.addbranchoperator"/>
            <mapping class="com.mycompany.loginmodule.Facility"/>
            <mapping class="com.mycompany.loginmodule.Gympackage"/>
            <mapping class="com.mycompany.loginmodule.Pack_facility"/>
            <mapping class="com.mycompany.loginmodule.Trainer"/>
            <mapping class="com.mycompany.loginmodule.Members"/>
             <mapping class="com.mycompany.loginmodule.Equipment"/>
             <mapping class="com.mycompany.loginmodule.Batches"/>
             <mapping class="com.mycompany.loginmodule.Batch_member"/>
             <mapping class="com.mycompany.loginmodule.Dietplan"/>
        </session-factory>
    </hibernate-configuration>

